@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://issues.chromium.org/issues/40766658 */
@font-face {
	font-family: 'Twemoji Country Flags';
	unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E,
		U+E0073-E0074, U+E0077, U+E007F;
	src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2')
		format('woff2');
}

* {
	font-family: 'Fira Sans', 'Noto Sans SC', 'Twemoji Country Flags', Roboto, Arial, sans-serif;
}

.form-label {
	@apply mt-6 mb-2;
}
.form-label.optional::after {
	color: #aaa;
	content: ' (optional)';
}
.form-radio-group {
	@apply grid grid-cols-1 mb-4 gap-2;
}
.form-checkbox {
	@apply mt-8 mb-6 space-x-1 font-normal;
}
form.modal {
	@apply px-16 pb-12;
}

.ag-theme-alpine {
	--ag-font-family: 'Fira Sans', 'Noto Sans SC', 'Twemoji Country Flags', Roboto, Arial, sans-serif;
	font-variant-numeric: tabular-nums;
}
.data-grid a {
	@apply text-primary-800 hover:text-primary-600;
}
