@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://issues.chromium.org/issues/40766658 */
@font-face {
	font-family: 'Twemoji Country Flags';
	unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E,
		U+E0073-E0074, U+E0077, U+E007F;
	src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2')
		format('woff2');
}

* {
	font-family: 'Fira Sans', 'Noto Sans SC', 'Twemoji Country Flags', Roboto, Arial, sans-serif;
}

h2 {
	font-family: 'Merriweather', serif;
}

.form-width {
	@apply w-[30rem];
}
.form-label {
	@apply mt-6 mb-2;
}
.form-label.optional::after {
	color: #aaa;
	content: ' (optional)';
}
.form-label.optional-cap::after {
	color: #aaa;
	content: ' (Optional)';
}
.form-radio-group {
	@apply grid grid-cols-1 mb-4 gap-2;
}
.form-radio {
	@apply font-normal w-fit;
}
.form-checkbox {
	@apply mt-8 mb-6 space-x-1 font-normal;
}
.form-helper {
	@apply text-gray-500;
}
.form-input-readonly {
	@apply text-gray-500 focus:ring-0 cursor-not-allowed;
}
form.modal {
	@apply px-12 pb-12;
}

.page-title {
	@apply text-3xl font-bold pt-4;
}
.alt-page-title {
	@apply text-4xl font-normal pt-4 -mb-1;
}

.grid-title {
	@apply text-3xl font-bold pt-4 pb-6 tracking-wide;
}
.ag-theme-alpine {
	--ag-borders: none;
	--ag-font-family: 'Fira Sans', 'Noto Sans SC', 'Twemoji Country Flags', Roboto, Arial, sans-serif;
	--ag-row-hover-color: rgba(250, 250, 249, 1);
	--ag-grid-size: 0.4rem;
	--ag-odd-row-background-color: white;
	--ag-input-focus-box-shadow: 0 0 0;
	--ag-input-focus-border-color: #fe795d;
	--ag-header-column-resize-handle-display: none;
	font-variant-numeric: tabular-nums;
}
.data-grid a {
	@apply text-primary-800 hover:text-primary-600;
}
.data-grid.full-page {
	height: calc(100vh - 11rem);
}
.data-grid .ag-header-cell {
	@apply bg-stone-50 hover:!bg-stone-100;
}
.data-grid .ag-header-cell:hover .ag-icon:hover {
	@apply text-primary-500;
}

.dropdown-icon {
	@apply w-6 h-6 me-1 text-primary-700 inline-block;
}
.dropdown-link {
	@apply hover:text-primary-700 hover:!bg-transparent;
}

/* fix tab panel background */
div[role='tabpanel'] {
	@apply bg-inherit;
}
/* override tab paddings in the scores sections */
.scores-section div[role='tabpanel'] {
	@apply p-0 mx-0 mt-2 mb-0;
}

.status-submitted {
	@apply text-sky-600;
}
.status-under-review {
	@apply text-blue-500;
}
.status-started,
.status-deferred {
	@apply text-amber-500;
}
.status-on-waitlist {
	@apply text-purple-500;
}
.status-accepted,
.status-enrolled {
	@apply text-green-500;
}
.status-rejected,
.status-pres-rejected,
.status-offer-rescinded {
	@apply text-rose-500;
}
.status-cancelled,
.status-withdrawn,
.status-untracked {
	@apply text-gray-500;
}

/* Override timeline styles in /school/[id] */
.school-page-applications li h3 {
	@apply !text-sm mb-4 translate-y-0.5;
}
