@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* --background: 0 0% 100%; */
		--background: transparent;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		font-family: 'Geist', 'Noto Sans SC', Roboto, Arial, sans-serif;
	}
}

/* Apply styles to selected text */
::selection {
	@apply bg-mint-400;
}

::-moz-selection {
	@apply bg-mint-400;
}

/* WebKit (Chrome, Edge, Safari) scrollbar styling */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 4px;
	/* Creates gap around track */
	margin: 2px;
}

::-webkit-scrollbar-track:hover {
	background-color: rgb(244, 244, 245);
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 4px;
	/* Makes thumb appear thinner */
	border: 2px solid transparent;
}

:hover::-webkit-scrollbar-thumb {
	background-color: rgba(113, 113, 122, 0.5);
	border-color: #fcfcfc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(113, 113, 122, 1);
	border-color: #f4f4f5;
}

/* https://issues.chromium.org/issues/40766658 */
@font-face {
	font-family: 'Twemoji Country Flags';
	unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E,
		U+E0073-E0074, U+E0077, U+E007F;
	src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2')
		format('woff2');
}

.font-serif,
.font-heading,
* {
	font-family: 'Twemoji Country Flags', 'Geist', 'Noto Sans SC', Roboto, sans-serif;
}

.data-grid {
	--ag-font-family: 'Twemoji Country Flags', 'Geist', 'Noto Sans SC', Roboto, sans-serif;
	--ag-header-background-color: rgba(244, 244, 245);
	--ag-row-hover-color: rgba(244, 244, 245, 0.7);
	--ag-accent-color: hsl(var(--primary) / 0.9);
	--ag-checkbox-checked-background-color: hsl(var(--primary) / 0.9);
	--ag-focus-shadow: none;
	font-variant-numeric: tabular-nums;
	@apply drop-shadow-xl;
}

.data-grid.full-page {
	height: calc(100vh - 60px - 192px);
}

.data-grid .ag-menu {
	border-radius: 12px;
	@apply bg-muted/50 backdrop-blur shadow-lg;
}

.data-grid .ag-picker-field-wrapper,
.data-grid .ag-input-field-input {
	border: solid 1px hsl(var(--primary) / 0.2);
	border-radius: 6px;
}

.data-grid .ag-picker-field-wrapper:focus,
.data-grid .ag-input-field-input:focus {
	outline: solid 2px hsl(var(--primary) / 0.7);
	border: solid 1px transparent;
}

.data-grid .ag-radio-button-input:focus {
	outline: unset;
}

.data-grid a:hover {
	text-decoration: underline;
}

.page-title {
	@apply text-3xl font-bold py-2;
}

.data-grid-title {
	@apply text-2xl font-bold;
}

.optional-field::after {
	@apply text-muted-foreground/80;
	content: ' (optional)';
}

a {
	/* muted foreground */
	color: #71717a;
}

a:hover {
	text-decoration: underline;
}

input[type='password'] {
	@apply text-primary;
	letter-spacing: 4px;
}

/* Make Firefox's password dots smaller */
@-moz-document url-prefix() {
	input[type='password'] {
		font-size: 8px;
	}
}

textarea {
	field-sizing: content;
}
